/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.shadow-block {
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
    box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color,rgba(0, 0, 0, .132)),0 .6px 1.8px 0 var(--callout-shadow-secondary-color,rgba(0, 0, 0, .108));
}

.product-name {
    font-weight: 700;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
    margin-bottom: .2rem;
}

.product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

.request-details {
    padding: .5rem;
    width: 100%;
}

.product-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

    .product-item .product-detail {
        display: flex;
        flex-direction: column;
    }

    .product-item .request-timeline {
        flex: 1 1 0;
    }

    .product-item .product-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
        align-self: flex-end;
    }

    .product-item .product-action {
        display: flex;
        flex-direction: column;
    }

@media screen and (max-width: 576px) {
    .product-item {
        flex-direction: column;
        align-items: center;
    }

        .product-item img {
            width: 75%;
            margin: 2rem 0;
        }

        .product-item .product-detail {
            text-align: center;
        }

        .product-item .product-price {
            align-self: center;
        }

        .product-item .product-action {
            display: flex;
            flex-direction: column;
        }

        .product-item .product-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
}

.p-datascroller-content {
    border-left: 1px solid #dee2e6 !important;
}

.p-datascroller .p-datascroller-content {
    padding-top: 0px !important;
}

.p-button.p-button-sm {
    padding: 0.2rem 0.3rem;
}

.request-url {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.netInfoHeadersText, .netInfoCookiesText {
    padding-top: 0;
    width: 100%;
}

.netInfoText {
    padding: 8px;
    background-color: #FFFFFF;
    font-family: Monaco,monospace;
}

.netInfoHeadersGroup, .netInfoCookiesGroup {
    margin-bottom: 4px;
    border-bottom: 1px solid #D7D7D7;
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: Lucida Grande,Tahoma,sans-serif;
    font-weight: bold;
    color: #565656;
    font-size: 14px;
    min-width: 140px;
}

.netInfoParamName {
    padding: 0 10px 0 0;
    font-family: Lucida Grande,Tahoma,sans-serif;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    font-size: 13px;
}

.netInfoParamValue {
    font-size: 13px;
    width: 100%;
}

.p-tabview .p-tabview-panels {
    padding: 0;
}